@import "variables";
@import "mixin";
html {
    scroll-behavior: smooth;
}
*{  
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0;
    margin: 0;
    outline:0;
    margin:0;
    font-size: 14px;
    transition: all .5s ease-out;
}
li,
a{
    color: inherit;
	list-style: none;
    text-decoration:none;
    @include stop-blue();
}
h1, h1 span, 
h2,
h3{
	font-family: 'IBM Plex Sans';
	font-size: 36px;
	letter-spacing: 0;
	line-height: 42px;
	font-weight: 400;
	font-size: 36px;
    color: $font_color;
    height: 84px;
}
.parent-grid{
    display: grid;
}
.parent-flex{
    display: flex;
}
/*HEADER Y NAV*/
.stick{
    background-color: $font_color;
	display: block;
    height: 2px;
    width: 18px;
    margin-right: 16px;
    position: relative;
	transition: background 0.2s ease-out;
}
.stick::before{
    @include stick-cross();
    top: 5px;
}
.stick::after{
    @include stick-cross();
    top: -5px;
}
.nav-bar img{
    margin: 10px 0 10px 16px;
    float: left;
    display: block;
}
.nav-bar label{
    float: right;
    display: block;
    margin: 20px 0 10px 16px;
}
.menubtn{
    display:none;
}
.menubtn:checked ~ .menu{
    height: 224px;
}
.menubtn:checked ~ .menu-icon .stick{
	background-color: transparent;
}
.menubtn:checked ~ .menu-icon .stick::before {
	transform: rotate(-45deg);
	top: 0;
}
.menubtn:checked ~ .menu-icon .stick::after{
	transform: rotate(45deg);
	top: 0;
}

.menu{
    background-color: $menu_background;
    height: 0;
    width: 100%;
    flex-direction: column;
}
.menu a{
    color: $font_light;
    clear: right;
    display: block;
    padding: 16px 0 24px 16px;
    text-transform: uppercase;
}
/*BODY*/
.section-first{
    margin-bottom: 24px;
}
.hello-section{
    flex-flow:column nowrap;
}
.world{
	text-decoration: line-through;
}
h1{ 
    margin: 29px 0 16px 16px;
    font-family: 'IBM Plex Sans';
}
.subtitle{
    margin: 0 0 36px 16px;
}
.conoce{
    @include button-mobile();
    color: $font_color;
}
.play-podcasts{
    background: linear-gradient(225deg,#0000FF,#0000A3);
    clip-path: polygon(0% 3%,100% 0%, 100% 97%, 0% 100%);
    height: 1263.5px;
}
h2{
    margin: 64px 0 19px 16px;
    color: $font_light;
    display: inline-block;
    height: 42px;
}
iframe{
    padding: 0;
    margin: 5.5px 11px;
	width: 93%;
	height: 232px;
	border: 0px;
}
.iphone img{
	z-index: 1;
	width: 100%;
	height: 519px;
	margin-top: -105px;
	position: relative;
	padding: 0 16px;
}
h3{
    margin: 27px 0 8px 0;
    padding-left: 16px;
    width: 100%;
}
.news-poly h3{
    padding-left: 0;
}
.us{
    margin-bottom: 54px;
}
.where div p {
    margin: 0 16px;
}
.guests{
    flex-flow: column nowrap;
    width: 100%;
}
.guests h3{
    margin-bottom: 15px;
}
.guests img{
    width: 100%;
    height: 243px;
}

.themes, .themes div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
}
.themes div{
    margin-top: 10px;
}
.themes div img{
    margin: 22px 0;
}
.themes div p{
    font-size: 24px;
    text-align: center;
}
.text-files{
    margin-bottom: 14px;
}
.text-head,.text-pc{
    margin-bottom: 31px;
}
.text-virus{
    margin-bottom: 42px;
}
.safety{
    display: none;
}
.news-poly{
    clip-path: polygon(0% 13%,100% 0%, 100% 100%, 0% 100%);
    height: 341px;
    width: 100%;
    background-image: linear-gradient(225deg, $gradient_light 0%, $gradient_dark 100%);
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
}
.news-poly h3 {
    color: $font_light;
}
.news-poly div{
    @include button-mobile;
}
footer{
	font-size: 14px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 120px;
    text-decoration: none;
    padding: 16px 0 31px 0;
}
.social-media-links{
	flex-flow: row nowrap;
	justify-content: space-between;
    height: 22px;
    list-style: none;
}
.social-media-links a{
    color: $font_color;
	height: 16px;
	width: 48px;
}
/*bit more wide phone mode*/
@media screen and (min-width:480px){
    section{
        width: 100%;
    }
    h1{
        width: 90%;
    }
    h3{
       height: auto;
    }
    .polygon{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .guests {
        flex-flow: row wrap;
        justify-content: center;
    }
    .guests img{
        height: auto;
		width: 47.33%;
    }
    .themes{
        flex-flow: row wrap;
    }
    .themes div{
        width: 47.33%;
    }
    .news-poly{
        justify-content: center;
    }
}
@media screen and (min-width:700px){
    .dot{
        color: $menu-background;
    }
    .iphone img{
        height:660px;
        width: 457px;
    }
    .where{
        display: inline-block;
        width: 464px;
        padding: 0 16px;
    }
    .us{
        display: flex;
        justify-content: center;
    }
    .where div p{
        text-align: justify;
    }
}
@media screen and (min-width: 1100px){
    .stick{
        display: none;
    }
    .menu{
        flex-direction: row;
        justify-content: flex-end;
        align-items:center;
        background-color: $font_light;
        height: 24px;
    }
    .menu li{
          margin-right: 48px;
    }
    .menu a {
        clear: none;
        display: inline;
        color: $font_color;
        &:hover{
            text-decoration: line-through;
            color: $button-color;
        }
        &:active{
            text-decoration: line-through;
            color: $link_active;
        }
    }
    .nav-bar{
        display: flex;
        justify-content:space-between;
        align-items:center;
        margin: 0 16px;
    }
    h1, h1 span{
        height: 64px;
        font-size: 64px;
        margin: 0;
    }
    .nav-bar{
        margin-right: 100px;
    }
    .nav-bar img{
        width: 36px;
        height: 36px;
        margin: 10px 0 0 100px;
    }
    .section-first p{
        margin: 0 0 56px 0;
    }
    .hello-section{
        padding: 120px 0 0 316px;
    }
    .conoce{
        width: 226px;
        font-size: 18px;
        align-self: flex-start;
    }
 
    .enter{
        display:none;
    }
    .play-podcasts {
        clip-path: polygon(0% 15%,100% 0%, 100% 85%, 0% 100%);
        height: 1042px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 186px  0;
        :first-child h2{
            padding-left: 300px;
            font-size: 48px;
            margin: 25px 0 26px 0;
        }
        .polygon{
            display: flex;
            flex-flow: row wrap;
            align-items: center;
                iframe{
                    width: 584px;
                    margin: 0 52px 52px 0;
                }
                :nth-child(even){
                    margin-right: 0;
                }
        }
    }
     h3{
        padding-left: 200px;
    }
    .iphone img{
        margin-top: -155px;
    }
   .guests img{
        height: auto;
		width: 33.33%;
     }
    .where h3{
        padding-left: 16px;
    }
   
    .where div p{
        text-align: start;
    }
    .themes{
        flex-wrap: nowrap;
        justify-content: center;
        div{
            width: 220px;
            margin: 0 65px 0 0;
            :last-child{
                margin-left: 0;
            }
        }
    }
    .news-poly{
        clip-path: polygon(0% 30%,100% 0%, 100% 100%, 0% 100%);
        height: 518px;
        h3{
            font-size: 48px;
            margin-top: 120px;
        }
    }
    .listen-more{
        margin-top: 36px;
    }
     footer{ 
        justify-content: space-between;
        padding: 0 100px;
            p{
                font-size: 17px;
            }
            p, div a i{
                font-size: 18px;
            }
    }
}

@media screen and (min-width: 1870px){
    .play-podcasts :first-child{
        margin-left:182px;
    }
    .polygon{
        width: 1300px;
        align-self: center;
    }
}